
h2{
  font-family: 'Roboto', sans-serif;
}

.text-break {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-wrapper {
  display: flex;
  align-items: center;
}

.content-left {
  width: 80%;
}

.content-right {
  width: 20%;
  text-align : right;
}
