
<ion-content padding>
  <div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">
    <div class="stackedcards-container">
      <div (click)="showDetails(val)" class="card-item" *ngFor="let val of value" [ngStyle]="{'background-image': 'url(' + val.fields.image + ')'}" >
      </div>
    </div>
    <div class="stackedcards--animatable stackedcards-overlay top">TOP</div>
    <div class="stackedcards--animatable stackedcards-overlay right">RIGHT</div>
    <div class="stackedcards--animatable stackedcards-overlay left">LEFT</div>
  </div>
  <div class="global-actions">
    <div class="left-action">Left</div>
    <div class="top-action">Top</div>
    <div class="right-action">Right</div>
  </div>  
</ion-content>
