<ion-content>


  <div id="company-container">
    <ion-avatar>
      <img src="assets/wild.jpg">
    </ion-avatar>

    <ion-text>
      Salarié à la Wild Code School
    </ion-text>
  </div>

  <ion-item-divider>
    Entreprise
  </ion-item-divider>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/wild.jpg">
    </ion-avatar>
    <ion-text>
      Salarié à la Wild Code School
    </ion-text>
  </ion-item>


  <ion-item-divider>
    Mes info
  </ion-item-divider>
  


</ion-content>